@{ 
    ViewBag.Title = "How To";
}


<h1>Image Search Abstraction Layer</h1>

<div class="jumbotron">
    <h2>Example Usage:</h2>
    <p>For searching images:</p>
    <code>http://thisdomain/api/imagesearch/lolcats</code>
    <br />
    <p>For Getting recent searches:</p>
    <code>http://thisdomain/api/imagesearch/recent</code>
</div>